@page
@model ConfirmEmailModel
<!DOCTYPE html>
@{
    ViewData["Title"] = "Confirm email";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="\css\LoginStyle.css" />
    <title>Iniciar Sesion</title>
</head>

<partial name="_StatusMessage" model="Model.StatusMessage" />
<body>
    <div class="login-page">
        <div class="form">
            <section>
                <img src="\Images\Logos\logo-login.svg" class="image-logo" data-src-small="\Images\Logos\logo-login.svg" id="logo" alt="Logo">
                <div class="login-form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div>
                        <form action="/Identity/Account/Login" method="get">
                            <button id="confirm-submit" action class="w-100 btn btn-lg btn-primary">Iniciar sesión</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>