@using Bunit
@using Presentation.News.Components
@using Xunit

@inherits TestContext

@code {
    [Fact]
    public void ButtomTest()
    {
        // act
        // cut = component under test
        var cut = Render(@<NewsLink/>);
        // assert
        cut.MarkupMatches(@<a type="button" href="/noticias" class="mud-button-root mud-button mud-button-text mud-button-text-default mud-button-text-size-medium mud-ripple" style="text-transform: none; color: black; margin-left: auto; margin-right: 0">
        <span class="mud-button-label">
            Noticias de Grupos
        </span></a>);
    }
}
